<section class="event-section" style="max-height: {{sectionHeight}};">
    <div class="event-actor" style="height: {{contentHeight}}; display:flex; align-items:center;">
        <img class="event-portrait" style="{{left.imgStyle}}" src="{{left.imgSrc}}">
        <h4 class="{{left.nameCssClass}}">{{left.name}}</h2>
    </div>
    <section class="event-block" style="max-height: {{contentHeight}};">
    <div class="">
        {{event.data.data.description}}
    </div>
    </section>
    <div class="event-actor" style="height: {{contentHeight}}; display:flex; flex-direction:column;"">
        <img class="event-portrait" style="{{right.imgStyle}}" src="{{right.imgSrc}}">
        <h4 class="{{right.nameCssClass}}">{{right.name}}</h2>
    </div>
</section>

