<section class="event-section" style="max-height: {{sectionHeight}};">
    <div class="event-actor" style="line-height: {{contentHeight}};">
        <img class="event-portrait" src="tokens/orc_001.jpg">
        <h2 class="event-portrait-name">{{leftName}}</h2>
    </div>
    <section class="event-block" style="max-height: {{contentHeight}};">
    <div class="">
        {{event.data.data.description}}
    </div>
    </section>
    <div class="event-actor" style="line-height: {{contentHeight}};">
        <img class="event-portrait" src="tokens/orc_002.jpg">
        <h2 class="event-portrait-name">{{rightName}}</h2>
    </div>
</section>

